# emacs backup files
*~

# core (pdf)latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# intermediate documents
*.dvi
*.xdv
*-converted-to.*

# bibliography (bibtex/biblatex/biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# build tool
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync